.navbar{
    display: flex;
    background-color: rgb(220, 220, 220);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar_left{
    display: flex;
}
.navbar_brand{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 40px;
}
.navbar_items{
    margin-top: 15px;
}
.navbar_item{
    margin-top: 0;
    margin-left: 20px;
    display: inline;
    list-style-type: none;
}

.navbar_link{
    text-decoration: none;
}


.navbar_right{
    margin-top: 12px;
    margin-right: 20px;
    margin-left: auto;
}

.home_page{
    margin-top: 100px;
}

/* create thoughts */

.create_thoughts_form{
    display: flex;
    flex-direction: column;
    width: 740px;
    margin: auto;
    margin-top: 30px;
    padding-left: 35px;

}

.thought_textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: large;
}

.create_thought_btn{
    padding: 10px;
    width: 100px;
    margin-left: auto;
    /* font-weight: bold; */
    background-color: rgb(92,184,92);
    border: none;
    border-radius: 10px;
    color: white;
}
.create_thought_btn:hover{
    background-color: rgb(82, 165, 82);
}

/* thoughts stylling */

.all_thoughts{
    width: 800px;
    margin: auto;
    margin-top: 30px;
}

.thoughts_list{
    list-style-type: none;
}

.thought_item{
    border: 1px solid black;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding: 20px 30px;
    margin: 10px;
    margin-bottom: 30px;
}

.thought_container{
    
}

.thought_head{
    display: flex;
    gap: 20px;
    /* height: 50px;
    align-items: center; */
    margin-bottom: 15px;
}

.thought_profile{
    border-radius: 50%;
    padding-top: 0;
    margin-top: 0;
}

.thought_owner{
    padding-top: 0;
    margin-top: 10px;
}

.thought_created_time{
    padding-top: 0;
    margin-top: 12px;
    font-size: small;
    margin-left: auto;
}

.thought_body{
    /* margin: 20px; */
}

